html, body {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    will-change: transform;
    width: 1920px;
    height: 1080px;
    text-shadow: 20px 20px 0px #00000080;
    transform-origin: top left;
}

.background {
    width: 1920px;
    height: 1080px;
    background: url("textures/background.svg") repeat-x;
    background-size: 1080px 1080px;
    animation: backgroundScroll 20s linear infinite;
}

@keyframes backgroundScroll {
    from { background-position: 0 0; }
    to { background-position: -1080px 0; }
}

canvas {
    border: 1000px solid #000000;
    background-color: #00000000;
}

.score {
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translateX(-50%);
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 300px;
    color: white;
    -webkit-text-stroke: #000000 12px;
    text-align: center;
    width: 1920px;
    user-select: none;
}

#collisionCanvas {
    display: none;
}
